@import 'config';
// テーマ
body, .theme-back{
    background: #333 url('/Assets/img/bg-texture.svg');
}
.theme-head{
    background-color: #8892BF;
}
.theme-body{
    background-color: #F2F2F2;
}
.theme-foot{
    background-color: #8892BF;
}
// debug
pre{
    white-space: pre-wrap;
    background-color: black;
    color: lime;
    padding: 1rem;
}
.container-fluid{
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
}
.section{
    margin-bottom: 24px;
    border-radius: 8px;
}
*:disabled{
    cursor: not-allowed;
}
[data-submit_remote]{
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-hover-light{
    cursor: pointer;
    &:hover{
        background-color: rgba(0,0,0,.075)!important;
    }
}
// display
.d-soft-none{
    display: none;
}
// 透明度
@for $i from 0 through 10 {
    .opacity-#{$i}{
        opacity: #{$i / 10};
    }
}
// ボタン
.btn-disabled, .btn-disabled:active, .btn-disabled:hover, .btn-disabled:focus{
    color: #AAA;
    background-color: rgba(0, 0, 0, .3);
    cursor: not-allowed;
}
// メニュー
.dropdown-toggle.menu{
    &:after{
        display: none;
    }
}
.dropdown-menu{
    > .dropdown-item{
        .btn-link{
            border-radius: 0;
            &:active, &:focus, &:hover{
                color: #FFF!important;
                background-color: #8892BF;
            }
            &:disabled{
                color: #EEE!important;
                background-color: #FFF!important;
                opacity: 1!important;
                text-decoration: line-through!important;
            }
        }
    }
}
// メッセージ関係
.message-box{
    background-color: #FFF;
    position: relative;
    height: 90px;
    overflow-y: scroll;
    cursor: pointer;
}
.result-message{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-bottom: 0;
    &.active{
        display: block;
    }
}
.message-scroll-icon{
    position: absolute;
    pointer-events: none;
    right: 8px;
    bottom: 8px;
    /* 点滅 */
    -webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
.move-table-row{
    cursor: pointer;
}
// 技詳細
.move-detail-content{
    display: none;
    &.active{
        display: block;
    }
}
// 読込中
.now-loading{
    display: none;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    > .spinner-box{
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}
// テーブル関係
.table-selected {
    tbody{
        tr{
            cursor: pointer;
            &.active, &:hover{
                background-color: rgba(0,0,0,.075);
            }
        }
    }
    &:not(table){
        .table-selected-row{
            &.active, &:hover{
                cursor: pointer;
                background-color: rgba(0,0,0,.075);
            }
        }
    }
}
// モーダル関係
.modal{
    > .modal-dialog{
        > .modal-content{
            > .modal-header{
                background-color: #8892BF;
                border-bottom: 4px solid #4F5B93;
                > .modal-title{
                    font-weight: bold;
                }
            }
            > .modal-footer{
                background-color: #8892BF;
            }
        }
    }
}

// パーティー一覧
[data-list="party"]{
    > .row{
        &:not(:last-child){
            border-bottom: 1px solid rgba(0,0,0,.075);
        }
    }
}
// お知らせ
#notice-tab{
    > li.nav-item{
        > .nav-link.active{
            background-color: #4f5b93 !important;
        }
    }
}
