Options -Indexes
DirectoryIndex index.php
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options DENY
Header set X-Content-Type-Options nosniff

<Files ~ "\.(log|ini)$">
    Deny from all
</Files>

php_value session.gc_maxlifetime 86400
php_value session.gc_probability 1
php_value session.gc_divisor 50
