@import '../config';
// バトルフィールド
#battle-field{
    position: relative;
}
// 捕獲時のボール
img.capture-ball{
    position: absolute;
    transform: translateY(-100%) translateX(-50%);
    left: 75%;
    top: 25%;
    z-index: 2;
}
img.capture-ball-open{
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    width: 80px;
    height: 80px;
    &.enemy{
        left: 75%;
        top: 25%;
    }
    &.friend{
        left: 25%;
        top: 75%;
    }
}
img.capture-ball-get{
    position: absolute;
    transform: translateY(-100%) translateX(-50%);
    left: 75%;
    top: 30%;
}
// ランクアイコン
i.rank-active{
    transform: rotate(-90deg);
}
i.rank-negative{
    transform: rotate(90deg);
}
// バトル状態テーブル
tbody.first-border-top-none{
    > tr:first-child{
        th, td{
            border-top: none;
        }
    }
}
// ボタン
.action-img-btn{
    &:focus {
        outline: 0;
    }
}
