section{
    border-bottom: 1px solid #000;
    margin-bottom: 24px;
}
pre{
    white-space: pre-wrap;
    background-color: black;
    color: lime;
    padding: 1rem;
}
figure.first-pokemon{
    text-align: center;
    padding: 1rem;
}
/* カラーの追加 */
.text-purple{
 color: #563d7c;
}
.badge-purple, .bg-purple{
    color: #fff;
    background-color: #563d7c;
}
.first-pokemon img{
    max-width: 40px;
    cursor: pointer;
}
.message-box{
    position: relative;
    height: 90px;
    overflow-y: scroll;
    cursor: pointer;
}
.result-message{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin-bottom: 0;
}
.result-message.active{
    display: block;
}
.message-scroll-icon{
    position: absolute;
    pointer-events: none;
    right: 8px;
    bottom: 8px;
    /* 点滅 */
    -webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0.1;}
    100% {opacity:1;}
}
.move-table-row{
    cursor: pointer;
}
.move-detail-content{
    display: none;
}
.move-detail-content.active{
    display: block;
}
.move-detail-link{
    cursor: pointer;
}
.move-detail-link.active{
    background-color: rgba(0,0,0,.075);
}
.now-loading{
    display: none;
    position: fixed;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.now-loading > .spinner-box{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}
